.shop{
    margin-top: 10%;

}

form {
    position: relative;
}


.product-box{
    position: relative;
    background-color: white;
}
.product-box:hover{
    padding: 10px;
    border: 1px solid black;
    width: 200%;
    height: auto;
    z-index: 100;
    margin-left: -40%;

}
.description-product {
    display: none;
}
.product-box:hover .description-product {
    display: flex;
}

.product-box:hover img {
    width: 60%;
    height: auto;
    margin-left: 5%;
}

.product-img{
    width: 100%;
    height: auto;
    margin-bottom:0.5rem ;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.price {
    font-weight: 500;
}
.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}
.add-cart:hover{
    background: hsl(249,32%,17%);
}

.description-product {
    display: none;
}
.product-box:hover .description-product {
    display: flex;
}